@import "../../scss/settings/colors";
@import "../../scss/settings/fonts";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  background-color: $color-accent;

  .columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 60px;
    font-family: $font-base;

    .number {
      font-size: 38px;
      // font-family: $font-base;
      font-weight: 300;
    }

    .title {
      font-size: 14px;
    }

    .description {
      font-size: 12px;
      text-align: center;
    }
  }
}
