@import "../../scss/settings/fonts";
@import "../../scss/settings/colors";
@import "../../scss/settings//dimensions";

.helpSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 30px;

  //   h2 {
  //     font-size: 18px;
  //     font-weight: bold;
  //     margin: 5px;
  //     text-align: center;
  //   }

  //   .hero-img {
  //     margin-top: 15px;
  //   }

  .helpSection-buttons {
    // display: flex;
    //   flex-direction: column;
    // justify-content: space-around !important;
    //   flex-wrap: wrap;
    // gap: 30px;
    margin: 40px;

    .custom-tab {
      color: $color-text;
      padding: 5px 10px;
      background-color: white;
      cursor: pointer;
      text-transform: none;
      font-size: 16px;
      width: 140px;
      margin-right: 50px;
    }

    .custom-tab:last-of-type {
      margin-right: 0;
    }

    .active-tab {
      border: 1px solid $color-text !important;
    }

    .inactive-tab {
      border: none;
    }
  }

  .tab-content {
    margin-top: 15px;
    padding: 0 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .tab-text {
      padding: 0 20px;
    }
  }
}
