@import "../../scss/settings/colors";
@import "../../scss/settings/dimensions";

.login-page {
  height: 100vh;

  .login-form {
    height: calc(100% - #{$nav-height});
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    // .hero-img {
    //   margin-top: 15px;
    // }

    .form {
      display: flex;
      flex-direction: column;
      padding: 20px 40px;
      margin: 60px;
      background-color: $color-primary;
    }

    .login-buttons {
      display: flex;
      gap: 150px;
      margin-top: 35px;
      color: $color-primary;
    }

    a {
      color: $color-text;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
